@charset "UTF-8";
/* ***************************************
# Mixins 汎用mixin
*************************************** */
/* ******************************
# テキスト非表示
****************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_common\.scss}line{font-family:\0000311}}
.text_indent_none {
  text-indent: 100%;
  white-space: nowrap;
  display: block;
  overflow: hidden; }

/* *******************************
# sprite用
******************************* */
/* **************************************************
Base
************************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\000033}}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  background: none repeat scroll 0 0;
  border: 0 none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000311}}
body {
  background-color: #fff;
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  -webkit-text-size-adjust: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000320}}
* {
  -webkit-tap-highlight-color: transparent !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000322}}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000326}}
table, caption, tbody, tfoot, thead {
  margin: 0;
  outline: 0 none;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000332}}
th, td {
  vertical-align: top;
  background: none repeat scroll 0 0;
  margin: 0;
  outline: 0 none;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000340}}
p, span, div {
  line-height: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000344}}
a {
  color: #999999;
  text-decoration: underline;
  -webkit-tap-highlight-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000348}}
  a img {
    border: none;
    outline: 0 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000354}}
a:hover {
  text-decoration: none;
  color: #999999; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000359}}
button:focus {
  outline: 0 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000360}}
button::active {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000365}}
a:focus, p:focus, img:focus, div:focus {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000370}}
ol, ul {
  list-style: none outside none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000372}}
fieldset, img {
  vertical-align: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000374}}
blockquote, q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000376}}
blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000377}}
ins {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000378}}
del {
  text-decoration: line-through; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000379}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000380}}
br {
  letter-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000381}}
hr {
  border: 0 none;
  height: 0;
  visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000382}}
select, input, textarea {
  font-size: 99%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_reset\.scss}line{font-family:\0000383}}
pre, code {
  font: 100% monospace; }

/* **************************************************
Layout
************************************************** */
/* **************************************************
Modules
************************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\000033}}
.rollover-op:hover {
  filter: progid:DXImageTransfor.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }

/* float
------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000310}}
.fr {
  float: right;
  display: inline;
  *zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000315}}
.fl {
  float: left;
  display: inline;
  *zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000320}}
.cl {
  clear: both; }

/* margin
------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000326}}
.am {
  margin-right: auto;
  margin-left: auto;
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000332}}
.mt3 {
  margin-top: 3px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000336}}
.mt0 {
  margin-top: 0px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000336}}
.mt5 {
  margin-top: 5px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000336}}
.mt10 {
  margin-top: 10px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000336}}
.mt15 {
  margin-top: 15px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000336}}
.mt20 {
  margin-top: 20px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000336}}
.mt25 {
  margin-top: 25px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000336}}
.mt30 {
  margin-top: 30px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000336}}
.mt35 {
  margin-top: 35px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000336}}
.mt40 {
  margin-top: 40px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000336}}
.mt45 {
  margin-top: 45px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000336}}
.mt50 {
  margin-top: 50px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000341}}
.mb3 {
  margin-bottom: 3px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000345}}
.mb0 {
  margin-bottom: 0px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000345}}
.mb5 {
  margin-bottom: 5px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000345}}
.mb10 {
  margin-bottom: 10px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000345}}
.mb15 {
  margin-bottom: 15px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000345}}
.mb20 {
  margin-bottom: 20px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000345}}
.mb25 {
  margin-bottom: 25px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000345}}
.mb30 {
  margin-bottom: 30px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000345}}
.mb35 {
  margin-bottom: 35px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000345}}
.mb40 {
  margin-bottom: 40px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000345}}
.mb45 {
  margin-bottom: 45px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000345}}
.mb50 {
  margin-bottom: 50px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000349}}
.mb60 {
  margin-bottom: 60px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000352}}
.mb100 {
  margin-bottom: 100px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000356}}
.ml3 {
  margin-left: 3px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000360}}
.ml0 {
  margin-left: 0px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000360}}
.ml5 {
  margin-left: 5px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000360}}
.ml10 {
  margin-left: 10px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000360}}
.ml15 {
  margin-left: 15px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000360}}
.ml20 {
  margin-left: 20px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000360}}
.ml25 {
  margin-left: 25px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000360}}
.ml30 {
  margin-left: 30px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000360}}
.ml35 {
  margin-left: 35px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000360}}
.ml40 {
  margin-left: 40px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000360}}
.ml45 {
  margin-left: 45px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000360}}
.ml50 {
  margin-left: 50px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000365}}
.mr3 {
  margin-right: 3px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000369}}
.mr25 {
  margin-right: 25px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000369}}
.mr30 {
  margin-right: 30px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000369}}
.mr35 {
  margin-right: 35px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000369}}
.mr40 {
  margin-right: 40px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000369}}
.mr45 {
  margin-right: 45px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000369}}
.mr50 {
  margin-right: 50px !important; }

/* padding
------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000377}}
.pl3 {
  padding-left: 3px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000381}}
.pl25 {
  padding-left: 25px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000381}}
.pl30 {
  padding-left: 30px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000381}}
.pl35 {
  padding-left: 35px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000381}}
.pl40 {
  padding-left: 40px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000381}}
.pl45 {
  padding-left: 45px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000381}}
.pl50 {
  padding-left: 50px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000387}}
.pr3 {
  padding-right: 3px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000391}}
.pr25 {
  padding-right: 25px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000391}}
.pr30 {
  padding-right: 30px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000391}}
.pr35 {
  padding-right: 35px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000391}}
.pr40 {
  padding-right: 40px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000391}}
.pr45 {
  padding-right: 45px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000391}}
.pr50 {
  padding-right: 50px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\0000397}}
.pt3 {
  padding-top: 3px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003101}}
.pt25 {
  padding-top: 25px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003101}}
.pt30 {
  padding-top: 30px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003101}}
.pt35 {
  padding-top: 35px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003101}}
.pt40 {
  padding-top: 40px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003101}}
.pt45 {
  padding-top: 45px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003101}}
.pt50 {
  padding-top: 50px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003107}}
.pb3 {
  padding-bottom: 3px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003111}}
.pb25 {
  padding-bottom: 25px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003111}}
.pb30 {
  padding-bottom: 30px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003111}}
.pb35 {
  padding-bottom: 35px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003111}}
.pb40 {
  padding-bottom: 40px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003111}}
.pb45 {
  padding-bottom: 45px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003111}}
.pb50 {
  padding-bottom: 50px !important; }

/* font-size
------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs8 {
  font-size: 8px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs9 {
  font-size: 9px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs10 {
  font-size: 10px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs11 {
  font-size: 11px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs12 {
  font-size: 12px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs13 {
  font-size: 13px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs14 {
  font-size: 14px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs15 {
  font-size: 15px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs16 {
  font-size: 16px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs17 {
  font-size: 17px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs18 {
  font-size: 18px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs19 {
  font-size: 19px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs20 {
  font-size: 20px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs21 {
  font-size: 21px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs22 {
  font-size: 22px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs23 {
  font-size: 23px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs24 {
  font-size: 24px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs25 {
  font-size: 25px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs26 {
  font-size: 26px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs27 {
  font-size: 27px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs28 {
  font-size: 28px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs29 {
  font-size: 29px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003120}}
.fs30 {
  font-size: 30px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003124}}
.fs50 {
  font-size: 50px !important; }

/* font-weight
------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003130}}
.bold {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003133}}
.normal {
  font-weight: normal; }

/* text-align
------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003139}}
.ac {
  text-align: center !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003143}}
.al {
  text-align: left !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003147}}
.ar {
  text-align: right !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003151}}
.oh {
  overflow: hidden;
  position: relative;
  *zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003156}}
.position_ab {
  position: absolute; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003160}}
.fineindent {
  padding-left: 1em;
  text-indent: -1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003165}}
.fineindent3 {
  padding-left: 2.5em;
  text-indent: -2.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003170}}
.red {
  color: #AA2912; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003174}}
.pink {
  color: #DF6471; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003178}}
.db {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003182}}
.noborder {
  border: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003187}}
.text-indent-none {
  text-indent: 100%;
  white-space: nowrap;
  display: block;
  overflow: hidden; }

/*clearfix*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003195}}
.clearfix:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  line-height: 0;
  visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/suitosha_base_static_html\/sass\/_mixin_module\.scss}line{font-family:\00003203}}
.clearfix {
  *zoom: 1; }
