@charset "UTF-8";
@mixin text-indent-none{
	text-indent: 100%;
     white-space: nowrap;
     display: block;
     overflow: hidden;
}

@mixin tablet {
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	#responsive_flg {
		display: block;
		position: absolute;
		left:-9999px;
	}
	body {
		-webkit-text-size-adjust: none;
		//overflow-x: hidden;
		min-width: 320px;
	}
	body,div,p,h1,h2,h3,h4,h5,li,a,ul,#wrap {
		box-sizing:border-box;
	}

}

