@charset "UTF-8";
@import "compass";

/*
# Mixins

汎用mixin、纏めてます。
*/

/*
# text_indent_none

テキストぶっ飛ばし

```
<p class="text_indent_none">テキスト見えないよ</p>
```
*/
.text_indent_none{
	text-indent: 100%;
	white-space: nowrap;
	display: block;
	overflow: hidden;
}

@mixin text_indent_none{
	text-indent: 100%;
	white-space: nowrap;
	display: block;
	overflow: hidden;
}
/*
# 下記、sprite用　mixin

$sprites-sizeはretina用の設定
画像の半分のサイズを設定する。

※スプライトする画像は全て偶数サイズで書き出すこと。
*/
$path-pj : "..";
$path-img: "#{$path-pj}/images";
$path-sprite: "#{$path-img}/sprite.png";
$sprites: sprite-map("icons/*.png");
$sprites-img:sprite-url($sprites);
$sprites-size: 300;
/*
## ratina用css sprite

最終行のbackground-sizeにsprite用イメージの半分のwidthを指定する。必ず偶数であること
*/
@mixin sprite_background_retina($name) {
	background-image: $sprites-img;
	background-repeat: no-repeat;
	display: block;
	height: image-height(sprite-file($sprites, $name)) / 2;
	width: image-width(sprite-file($sprites, $name)) / 2;
	$ypos: round(nth(sprite-position($sprites, $name), 2) / 2);
	background-position: 0 $ypos;
	@include background-size($sprites-size*1px auto);
}
/*
## ノーマルcss sprite
*/
@mixin sprite_background_wh($name) {
	background-image: $sprites-img;
	background-repeat: no-repeat;
	display: block;
	height: image-height(sprite-file($sprites, $name));
	width: image-width(sprite-file($sprites, $name));
	background-position: sprite-position($sprites, $name);
}

/*
## ノーマルcss sprite width&heightに!important付
*/
@mixin sprite_background_wh_important($name) {
	background-image: $sprites-img!important;
	background-repeat: no-repeat!important;
	display: block!important;
	height: image-height(sprite-file($sprites, $name))!important;
	width: image-width(sprite-file($sprites, $name))!important;
	background-position: sprite-position($sprites, $name)!important;
}
/*
## リピートcss sprite
*/
$sprites_r: sprite-map("icons_r/*.png", $layout: diagonal);
$sprites_r-img:sprite-url($sprites_r);

@mixin sprite_background_r($name) {
	background-image: $sprites_r-img;
	background-repeat: repeat;
	background-position: sprite-position($sprites_r, $name);
}