{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": true,
			"decorators": true,
			"dynamicImport": false
		},
		"target": "es2021",
		"keepClassNames": true,
		"transform": {
			"legacyDecorator": true,
			"decoratorMetadata": true
		}
		// パスエイリアスを利用しているなら以下2項目を編集する。利用してなければ削除。
		// "baseUrl": "./",
		// "paths": {
		//   "@/*": ["./src/*"]
		// }
	},
	"module": {
		"type": "commonjs",
		"noInterop": false
	},
	"sourceMaps": true
}
