link(rel='stylesheet', href='../lib/css/bxslider-4/jquery.bxslider.css')
link(rel='stylesheet', href='../lib/css/font-awesome/font-awesome.min.css')
link(rel='stylesheet', href='../lib/css/jQuery.mmenu/jquery.mmenu.all.css')
link(rel='stylesheet', href='../css/style.css')
link(rel='stylesheet', href='../css/responsive.css')
script(src='../lib/js/jquery/jquery.min.js')
script(src='../lib/js/lodash/lodash.min.js')
script(src='../lib/js/fixheight/fixheight.js')
script(src='../lib/js/jQuery.mmenu/jquery.mmenu.min.all.js')