.spnavi {
  display : none;
}

.btn_sp_navi_wrap {
  display : none;

  .line {
    background-color : #333;
    display : block;
    height : 2px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 5px;
    transition : all .3s;
    width : 20px;
  }

  .active {

    .line {
      background-color : #fff;
      color : #fff;

      &:nth-of-type( 1 ) {
        transform : translateY(10px) rotate(-45deg);
      }

      &:nth-of-type( 2 ) {
        opacity : 0;
      }

      &:nth-of-type( 3 ) {
        transform : translateY(-4px) rotate(45deg);
      }
    }
  }
}
@include breakpoint(sp) {

  .spnavi {
    background-color : rgba(0, 0, 0, .6);
    height : 100%;
    position : fixed;
    width : 100%;
  }

  .btn_sp_navi_wrap {
    display : block;
    position : absolute;
    right : 20px;
    top : 20px;
    z-index : 5;
  }
}
