//- if is_build === true//build時の指定 圧縮ファイルを読込
//- 	link(rel='stylesheet', href='#{assets_prefix}css/style.min.css')
//- 	script(src='#{assets_prefix}js/script.min.js')
//- else
script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js')
script(src=`${assets_prefix}build/js/main.js`)
