include _vars
include _inc_mixins
block vars
<!doctype html>
<html class="no-js" lang="ja">
head
	block meta_data
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		meta#viewport(content='width=device-width', name='viewport')
		+meta(meta)
		+ogp(ogp)
	block scripts
		+scripts
body#top(class=slug)
	#wrap
		nav#spnavi._to_fadein
			#scroller
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi saepe amet qui error voluptas inventore quod, corrupti quasi quidem similique sapiente dignissimos eum ipsam perspiciatis, incidunt fugit deserunt deleniti?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi saepe amet qui error voluptas inventore quod, corrupti quasi quidem similique sapiente dignissimos eum ipsam perspiciatis, incidunt fugit deserunt deleniti?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi saepe amet qui error voluptas inventore quod, corrupti quasi quidem similique sapiente dignissimos eum ipsam perspiciatis, incidunt fugit deserunt deleniti?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi saepe amet qui error voluptas inventore quod, corrupti quasi quidem similique sapiente dignissimos eum ipsam perspiciatis, incidunt fugit deserunt deleniti?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi saepe amet qui error voluptas inventore quod, corrupti quasi quidem similique sapiente dignissimos eum ipsam perspiciatis, incidunt fugit deserunt deleniti?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi saepe amet qui error voluptas inventore quod, corrupti quasi quidem similique sapiente dignissimos eum ipsam perspiciatis, incidunt fugit deserunt deleniti?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi saepe amet qui error voluptas inventore quod, corrupti quasi quidem similique sapiente dignissimos eum ipsam perspiciatis, incidunt fugit deserunt deleniti?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi saepe amet qui error voluptas inventore quod, corrupti quasi quidem similique sapiente dignissimos eum ipsam perspiciatis, incidunt fugit deserunt deleniti?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi saepe amet qui error voluptas inventore quod, corrupti quasi quidem similique sapiente dignissimos eum ipsam perspiciatis, incidunt fugit deserunt deleniti?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi saepe amet qui error voluptas inventore quod, corrupti quasi quidem similique sapiente dignissimos eum ipsam perspiciatis, incidunt fugit deserunt deleniti?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi saepe amet qui error voluptas inventore quod, corrupti quasi quidem similique sapiente dignissimos eum ipsam perspiciatis, incidunt fugit deserunt deleniti?

		.btn_sp_navi_wrap
			a.js-open_sp_navi._no-smooth-scroll(href='#sp')
				span.line
				span.line
				span.line
		block header
			header#global_header.global_header
				if slug == 'home'
					h1 pug内でスラッグを活用すると各ページごとに処理を変更
				else
					p 下層ページ;
		block contents
		block footer
			footer#global_footer.global_footer
				.global_footer-inner
					.global_footer-col
					.global_footer-col
		#totop._to_fadein
			a(href="#top") トップ
</html>
