-
	ogp = {
		'title':'test',
		'description':'test',
		'url':'test',
		'image':'test',
		'siteName':'test',
		'lang':'test',
		'fbid':'test',
	}
-
	meta = {
		title:'ページ',
		desc:'ディスクリプション',
		key:'キーワード'
	}

//- Use pug-loader option `data` to pass the `isDev` variable into Pug
- dev = isDev

- slug = ''
- is_contact = false;