-
	var ogp = {
		'title':'test',
		'description':'test',
		'url':'test',
		'image':'test',
		'siteName':'test',
		'lang':'test',
		'fbid':'test',
		'fbid':'test'
	}
-
	var meta = {
		title:'ページ',
		desc:'ディスクリプション',
		key:'キーワード'
	}
include _inc_mixins
include _inc_conditional
block slug
	- var slug = ''
	- var is_contact = false;
head
	block meta_data
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		meta#viewport(content='width=device-width', name='viewport')
		+base_meta(meta)
		+ogp(ogp)
	block css
		include _inc_css
body#top(class=slug)
	#wrap
		nav#spnavi.spnavi.sp
			#scroller
		.btn_sp_navi_wrap
			a.btn_sp_navi.nosc.nosms(href='#sp')
				span.line
				span.line
				span.line
		block header
			header#global_header.global_header
				if slug == 'home'
					h1 pug内でスラッグを活用すると各ページごとに処理を変更
				else
					p 下層ページ;
		block contents
			.pl10.pr10.pt10.pb10
				p まずは「dev/sass/base/_setting.scss」で初期設定。
				p サイト全体の文字色・リンク色・行間・よく使う文字色定義をしよう。
				p breakpoint配列でbreakpointの追加も可能。
		block footer
			footer#global_footer.global_footer
				.global_footer-inner
					.global_footer-col
					.global_footer-col
		block flg
			#responsive_flg
		#totop
			a(href="#top") トップ
	block scripts
		include _inc_scripts

</html>
