-
	var ogp = {
		'title':'test',
		'description':'test',
		'url':'test',
		'image':'test',
		'siteName':'test',
		'lang':'test',
		'fbid':'test',
		'fbid':'test'
	}
-
	var meta = {
		title:'ページタイトル',
		desc:'ディスクリプション',
		key:'キーワード'
	}
include _inc_mixins
include _inc_conditional
block slug
	- var slug = ''
	- var is_contact = false
head
	block meta_data
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		meta#viewport(content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1', name='viewport')
		+base_meta(meta)
		+ogp(ogp)
	block css
		include _inc_css
body#top(class=slug)
	#wrap
		block header
			header.global_header
				h1.global_header-sitelogo
					a(href="") dubleve
				p test
				nav.gnavi
					ul
						li
							a(href="") About Dublevé
						li
							a(href="") Collection
						li
							a(href="") Shop List
						li
							a(href="") Catalogue
		block contents
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		block footer
			footer#footer.footer
				.footer-inner
					.footer-col
					.footer-col

		block flg
			#responsive_flg
		#totop
			a(href="#top") トップへ
	block scripts
		include _inc_scripts

</html>
