//- if is_build === true//build時の指定 圧縮ファイルを読込
//- 	link(rel='stylesheet', href='#{assets_prefix}css/style.min.css')
//- 	script(src='#{assets_prefix}js/script.min.js')
//- else
link(rel='stylesheet', href=`${assets_prefix}build/css/style.min.css`)
